.footer-wrap{
    width: 100%;
    background: #000;
    border-top: 1px solid #707070;
    overflow: hidden;
}
.footer-container{
    /* width: 1796px; */
    width: 100%;
    max-width: 1920px;
    height: 355px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 58px;

    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-logo-box{
    margin-bottom: 20px;
}
.footer-logo-box img{
    width: 524px;
}
.footer-text-box{
    width: 100%;
}
.text-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-flex p{
    font-size: 24px;
    color: #fff;
    margin: 5px 0;
}
@media screen and (max-width: 1800px) {
    .footer-container{width: 100%; padding-left: 50px; padding-right: 50px;}
    .text-flex p{font-size: 20px;}
}
@media screen and (max-width: 1300px) {
    .footer-container{width: 100%;}
    .footer-logo-box img{width: 400px;}
    .text-flex p{font-size: 20px;}
}
@media screen and (max-width: 600px) {
    .footer-container{padding-top: 30px; padding-bottom: 30px;}
    .top-text-box{flex-direction: column;}
    .bottom-text-box{flex-direction: column;}
}