h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
}
p{user-select: none;}

.home-wrap{
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.home-contents{
    position: relative;
}
.home-bg-img{
    position: relative;
    width: 100%;
    height: 1000px;
    /* height: 1000px; */
    background: #000;
    z-index: 0;
}
.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - (100vw - 100%));
    height: 100%;
    /* height: 100vh; */
    background-image: url('../assets/home-image/home-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) brightness(70%);
    z-index: -1;
    opacity: 0;
    animation: fadeInAnimation 3s forwards;
  }
@keyframes fadeInAnimation{
    to {
        opacity: 1;
    }
}
.home-bg-text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    animation: fadeInText 2s forwards;
}
@keyframes fadeInText{
    to {
        opacity: 1;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.home-bg-text h2{
    /* color: #fff; font-size: 72px; */
    color: #fff; font-size: 50px;
}
.home-bg-box{
    width: 1280px;
    height: 270px;
    background: #fff;
    box-shadow: 5px 5px 25px -5px gray;
    display: flex;
    position: absolute;
    /* bottom: -125px; */
    bottom: 0px;
    left: 50%;
    /* border-bottom: 1px solid #000; */
    transform: translate(-50%, 100%);
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: boxfadeIn 1s forwards;
}
@keyframes boxfadeIn {
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
.none{
    display: none;
}
.home-bg-box .bg-text-box{
    width: 426.666px;
    text-align: center;
}
.home-bg-box .bg-text-box > div{
    height: 197px;
    border-right: 1px solid #707070;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.home-bg-box .bg-text-box:last-child > div{
    border-right: none;
}
.home-bg-box .bg-text-box h4{
    padding-top: 26px;
    color: #767676;
    font-size: 33px;
}
.home-bg-box .bg-text-box p{
    padding-top: 19px;
    font-size: 24px;
    color: #767676;
}
@media screen and (max-width: 1350px) {
    .home-bg-box{width: 100%;}
}
@media screen and (max-width: 1200px) {
    .home-bg-text h2{font-size: 50px;}
}
@media screen and (max-width: 900px) {
    .home-bg-text h2{font-size: 40px;}
}
@media screen and (max-width: 800px) {
    .home-wrap{margin-bottom: 0;}
    .home-bg-box{display: none;}
}
@media screen and (max-width: 650px) {
    .home-bg-img{height: 800px;}
    .home-bg-text h2{font-size: 25px;}
}